In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
data=pd.read_csv(r'C:\Users\vishal\Downloads\Real estate.CSV')
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [147]:
data.shape

(414, 8)

In [148]:
data.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [149]:
data.corr()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,1.000000,-0.048658,-0.032808,-0.013573,-0.012699,-0.010110,-0.011059,-0.028587
X1 transaction date,-0.048658,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
X2 house age,-0.032808,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
X3 distance to the nearest MRT station,-0.013573,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
X4 number of convenience stores,-0.012699,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
X5 latitude,-0.010110,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
X6 longitude,-0.011059,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
Y house price of unit area,-0.028587,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

In [150]:
# now split the data in training data and testing data

In [151]:
x=data.drop('Y house price of unit area',axis=1)

In [152]:
x.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245

In [153]:
x.shape

(414, 7)

In [154]:
y=data['Y house price of unit area']

In [155]:
y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [156]:
# now split the data using train test split

In [157]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
np.random.seed(42)

In [158]:
# now we check different model to get better accuracy

# linear regressionÂ¶

#Linear regression algorithm shows a linear relationship between a dependent (y) and one or more independent (y)
#variables, hence called as linear regression. Since linear regression shows the linear relationship,
#which means it finds how the value of the dependent variable is changing according to the value of the independent variable.

In [159]:
from sklearn.linear_model import LinearRegression

np.random.seed(42)
model1=LinearRegression()
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

0.6927525992998533

# Ridge

#This model solves a regression model where the loss function is the linear least squares function 
#and regularization is given by the l2-norm. Also known as Ridge Regression or Tikhonov regularization. 
#This estimator has built-in support for multi-variate regression.

In [160]:
from sklearn.linear_model import Ridge

np.random.seed(42)
model2=Ridge()
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.6581319042479246

# RandomForestRegressor

#A random forest is a meta estimator that fits a number of classifying decision trees on various sub-samples of the 
#dataset and uses averaging to improve the predictive accuracy and control over-fitting. 
#The sub-sample size is controlled with the max_samples parameter if bootstrap=True (default), 
#otherwise the whole dataset is used to build each tree.

In [161]:
from sklearn.ensemble import RandomForestRegressor

model4=RandomForestRegressor()
np.random.seed(42)
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.8191243165976881

In [162]:
#BayesianRidge()

#Bayesian regression allows a natural mechanism to survive insufficient data or poorly distributed data by formulating 
#linear regression using probability distributors rather than point estimates. The output or response 'y' is assumed 
#to drawn from a probability distribution rather than estimated as a single value.

In [163]:
from sklearn import linear_model

np.random.seed(42)
model5=linear_model.BayesianRidge()
model5.fit(x_train,y_train)
model5.score(x_test,y_test)

0.6302827304201006

In [164]:
#ARDRegression()

#The ARDRegression considers the model weights as a Gaussian distributed and estimates the lambda and alpha parameters 
#through the iteration.

In [165]:
from sklearn import linear_model
model6=linear_model.ARDRegression()
model6.fit(x_train,y_train)
model6.score(x_test,y_test)

0.7026392658482031

# prediction

In [166]:
# RandomForestRegressor has the highest accuracy


model4.predict(x_train.head())

array([52.145, 24.027, 55.315, 52.982, 41.893])

In [144]:
y_train.head()

308    53.0
302    23.2
124    57.4
342    53.5
91     43.2
Name: Y house price of unit area, dtype: float64